/*********** Header */

header {
  display: flex;
  justify-content: space-around;
}

/*********** Navigation */

nav {
  display: flex;

}

nav ul {
  display: flex;
  list-style-type: none; 
}

nav ul li {
  margin-right: 5px;
}

/*********** Login */

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: row; 
}

input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: #0056b3;
}

/*********** Footer */

footer {
  font-size: 12px;
  text-align: center;
}


/*********** Public Layout */

main {
  margin: 50px 15px 50px 15px;
}

main h1 {
  text-align: center;
}